.bug-card {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 4px #6b6464;
    display: flex;
    flex-direction: column;
    margin: 0.5rem; 
    background-color: rgb(255, 255, 255);
    height: fit-content;
    margin-bottom: 15%;
}

.bug-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.bug-description {
    color: black;
}

.bug-name {
    margin: 0.5rem 5%;
    color: black;
    font-size: clamp(1rem, 2cqw, 2rem);
    overflow-wrap: anywhere;
}

.bug-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.play-audio-button {
    width: 2.5rem;
    text-align: center;
}